.spacer {
  flex: 1;
}

nav a {
  text-decoration: none;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

mat-toolbar {
  margin-bottom: 20px;
}
