<div>
  <mat-toolbar color="primary">
    <span>Appointments Manager</span>
    <span class="spacer"></span>
    <nav>
      <a mat-button routerLink="/create-appointment" routerLinkActive="active"
        >Create Appointment</a
      >
      <a mat-button routerLink="/manage-appointments" routerLinkActive="active"
        >Manage Appointments</a
      >
      <a mat-button routerLink="/update-appointment" routerLinkActive="active"
        >Update Appointment</a
      >
    </nav>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <mat-toolbar color="accent" class="footer">
    <span
      >© {{ getCurrentYear() }} Appointments Manager. All rights reserved.</span
    >
    <span>Version: {{ getCurrentVersion() }}</span>
  </mat-toolbar>
</div>
