.table-title {
  text-align: center;
  margin: 16px 0; /* Spacing for better appearance */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make the title bold */
}

/* Existing CSS */
.mat-header-row,
.mat-row {
  display: flex;
  justify-content: center;
}

.mat-header-cell,
.mat-cell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  white-space: nowrap;
}

.mat-cell {
  justify-content: space-around;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.refresh-btn {
  margin-left: auto;
}
